<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dashboard.css">
    <title>QTrace | Dashboard</title>
</head>
<body>
    <div id="mask"></div>
    <header id="greeting">
        <h1>QTrace!</h1>
        <h3>A smarter way to deal with outbreaks</h3>
        <img src="/static/Medias/Ads.png">
    </header>
    <div id="relevantUpdates">
        <h5>Relevant Updates</h5>
        <div id="container">
            <div class="updates" id="update1">
                <h1>Covid Alert</h1>
                <div class="updateInfo" id="update1Info">
                    <h1>COVID ALERT CARD</h1>
                    <img src="/static/Medias/orange-yellow.png">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum esse eaque ipsa, et vel dignissimos iste error officiis deserunt fuga maiores corporis. Ad voluptates qui eveniet minus aliquid maiores officia doloribus quaerat, neque laudantium consequatur distinctio? Qui, vel veritatis et, iste cumque ullam, corrupti inventore labore delectus in aliquid repudiandae?</p>
                </div>
            </div>
            <div class="updates" id="update2">
                <h1>Covid Alert</h1>
            </div>
            <div class="updates" id="update3">
                <h1>Covid Alert</h1>
            </div>
            <div class="updates" id="update4">
                <h1>Covid Alert</h1>
            </div>
            <div class="updates" id="update5">
                <h1>Covid Alert</h1>
            </div>
        </div>
    </div>
    <div id="advisories">
        <img src="/static/Medias/Violet.png">
        <h1>ADVISORIES</h1>
    </div>
    <div id="info">
        <div id="seQRCode">
            <img src="/static/Medias/orange-yellow.png" alt="">
            <h1>Your seQR Code</h1>
        </div>
        <div id="Places">
            <img src="/static/Medias/Violet.png">
            <h1>PLACES</h1>
        </div>
    </div>
    <script src="/static/dashboard.js"></script>
</body>
</html>