<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/landing.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>QTrace | Welcome</title>
</head>
<body onload="formatting();">
    <div id="container">
        <img src="/static/Medias/landingImage.svg" id="landingImage">
        <h1 id="logo">QTrace!</h1>
        <h3 id="tag">A seQR way to deal with outbreaks</h3>
        <a href="/login"><div id="signup">Sign up</div></a>
        <h3 id="signinMessage">Already Registered? <a href="/login">Sign in</a> instead</h3>
    </div>
    <script src="/static/landing.js"></script>
</body>
</html>