<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/signup.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>QTrace | Sign up</title>
</head>
<body onload="formatting();">
    <div id="banner">
        <img src="/static/Medias/orange-yellow.png">
        <h1 id="signupMessage">SeQR Registration</h1>
        <h3 id="tag">Sign Up now and Secure your Data</h3>
    </div>
    <div id="choices">
        <a href="/citizenSignUp"><div id="citizen">As a Citizen</div></a>    
        <a href="/establishmentSignUp"><div id="establishment">As an Establishment</div></a>    
        <div id="signinMessage">Already have an account?<a href="/"> Sign in instead!</a> </div>    
    </div>
    <script src="/static/signup.js"></script>
</body>
</html>